# Netlify Functions
GAS_WEBAPP_URL=https://script.google.com/macros/s/AKfycbx.../exec
GAS_EXECUTION_TOKEN=cambia-este-token-largo
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456
ADMIN_SESSION_SECRET=otro-secreto-largo-para-sesiones
STORE_WHATSAPP_NUMBER=523333530262

# Apps Script / Google Drive
GOOGLE_DRIVE_FOLDER_ID=carpeta-de-drive-para-fotos
